*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --bgn-color: #e0e5ec;
  --input-color: #6d7582;
}
.nav_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: .6rem auto;
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--input-color);
}
.nav_bar .logo{
    color: var(--input-color);
    width: 30%;
}
.nav_bar .logo i{
    font-size: 2.8rem;
    /* margin-top: 1rem; */
    cursor: pointer;
}
/* menu styling */
.menu{
    position: absolute;
    display: none;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: space-around;
    gap: .2rem;
    width: 3rem;
    height: 2rem;
    bottom: 2rem;
    right: 0;
    padding: 5px;
    border: 3px solid var(--light-text);
    border-radius: .5rem;
    cursor: pointer;
}
.menu i {
    font-size: 3rem;
    color: #6d7582;
}
.nav_bar span {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.nav_bar span a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--input-color);
}
.sign {
    display: flex;
    margin: 1rem;
    color: var(--input-color);
}
.sign a {
    text-decoration: none;
    margin-left: 1rem;
    color: var(--input-color);
    font-weight: bold;
}
@media (max-width: 820px) {
    .nav_bar span {
        flex-direction: column;
        position: fixed;
        right: -30rem;
        top: 4.2rem;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        width: 65%;
        border-radius: 1rem 0 0 1rem;
        transition: .6s ease-out;
    }
    .nav_bar span a{
        margin: 2rem;
    }
    .nav_bar .open {
        right: 0;
    }
    .menu {
        display: flex;
    }
}